<mat-dialog-content>
    <!--Payment Procedures Section-->
    <mat-table #table
               [@animateStagger]="{value:'50'}"
               [dataSource]="proceduresdatasouce"
               class="patients-table mat-elevation-z1"
               fusePerfectScrollbar
               matSort>

        <!-- fileNo Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let procedure">
                <p>
                    {{procedure.name}}
                </p>
            </mat-cell>
        </ng-container>


        <!-- Price Column -->
        <ng-container matColumnDef="admin-time">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Admin
            </mat-header-cell>
            <mat-cell *matCellDef="let procedure">
                <p>
                    {{hospitaladmins| adminName : procedure.adminid }}
                    {{procedure.metadata.lastedit?.toDate()}}
                </p>
            </mat-cell>
        </ng-container>


        <!-- Price Column -->
        <ng-container matColumnDef="payment-method">
            <mat-header-cell *matHeaderCellDef>Channel
            </mat-header-cell>
            <mat-cell *matCellDef="let procedure">
                <p class="price text-truncate">

                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cost">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cost
            </mat-header-cell>
            <mat-cell *matCellDef="let procedure">
                <p>
                    {{procedure.payment.amount}}
                </p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="procedureheaders; sticky:true"></mat-header-row>

        <mat-row (click)="selectprocedure(procedure)"
                 *matRowDef="let procedure; columns: procedureheaders;"
                 [@animate]="{value:'*',params:{y:'100%'}}"
                 class="product"
                 matRipple>
        </mat-row>

    </mat-table>

    <mat-paginator #paginator
                   [length]="proceduresdatasouce.data.length"
                   [pageIndex]="0"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageSize]="10">
    </mat-paginator>
    <!--End of Payment Procedures Section-->
    <!--Payment Channels Div Starts Here-->
    <div *ngIf="patientdata.queuedata.payment.splitPayment">
        <div *ngIf="clickedprocedure.customProcedureId">
            <table class="simple">
                <thead>
                <tr>
                    <th>Payment Channel</th>
                    <th>Amount</th>
                    <th>Transaction Code</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let channel of allpaymentchannels">
                    <td>
                        <div class="title">
                            {{channel.name}}
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div *ngIf="!clickedprocedure.customProcedureId">
            <h1>Select procedure to customize</h1>
        </div>
    </div>
    <div *ngIf="!patientdata.queuedata.payment.splitPayment">
        <table class="simple invoice-table">
            <thead>
            <tr>
                <th>Payment Channel</th>
                <th>Amount</th>
                <th>Transaction Code</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let channel of allpaymentchannels">
                <td>
                    <div class="title">
                        <mat-checkbox (change)="setchannel(channel)"
                                      [checked]="multipayment? false : patientdata.queuedata.payment?.singlePayment?.channelId === channel.id"
                                      [disabled]="channel.name === 'insurance' && patientdata.patientdata.insurance.length<1">
                            {{channel.name}}
                        </mat-checkbox>
                    </div>
                </td>
                <td>
                    {{patientdata.queuedata.payment.total}}
                </td>
                <td *ngIf="channel.name === 'insurance' &&  patientdata.queuedata.payment?.singlePayment?.channelId === channel.id">
                    <div *ngFor="let insurance of patientdata.patientdata.insurance">
                        <mat-checkbox (change)="selectinsurance(insurance)"
                                      [checked]="selectedinsurance === insurance"> {{insurancename(insurance.id)}}
                        </mat-checkbox>
                    </div>
                </td>

                <td *ngIf="channel.name!== 'insurance'  &&  patientdata.queuedata.payment?.singlePayment?.channelId === channel.id">
                    <div *ngFor="let method of getcativechannelmethods(channel.id)">
                        <mat-form-field appearance="outline" class="pr-4 " fxFlex="100">
                            <mat-label>Method</mat-label>
                            <input [value]="getmethodname(method.paymentChannelId, method.paymentMethodId)" disabled
                                   matInput>
                            <mat-icon class="secondary-text" matSuffix>beenhere</mat-icon>
                            <mat-error></mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="pr-4 " fxFlex="100">
                            <mat-label>Method</mat-label>
                            <input [value]="method.accountNumber" disabled matInput required>
                            <mat-icon class="secondary-text" matSuffix>beenhere</mat-icon>
                            <mat-error></mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="pr-4 " fxFlex="100">
                            <mat-label>Transaction Code</mat-label>
                            <input [(ngModel)]="patientdata.queuedata.payment.singlePayment.transactionId"
                                   [disabled]="!channel.transactionDetailCollection" matInput
                                   required>
                            <mat-icon class="secondary-text" matSuffix>beenhere</mat-icon>
                            <mat-error></mat-error>
                        </mat-form-field>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--End of Payment Channels Section-->

    <br>
    <div>
        <mat-slide-toggle (toggleChange)="togglechange()" [(ngModel)]="patientdata.queuedata.payment.splitPayment"
                          class="p-24"
                          labelPosition="before" mattooltip="Coming soon...">Split Payment Per procedure
        </mat-slide-toggle>
        <mat-slide-toggle (toggleChange)="togglemultipayment()" [(ngModel)]="multipayment" labelPosition="before"
                          mattooltip="Coming soon...">
            Multiple Payments
        </mat-slide-toggle>
        <button (click)="printprescription()" [disabled]="disableprecriptionbutton" class="m-12" color="accent"
                mat-raised-button>
            Print Prescription
            <i class="material-icons">print</i>
        </button>
        <button (click)="preview()" class="m-12" color="accent" mat-raised-button>
            Print Invoice
            <i class="material-icons">print</i>
        </button>
        <button (click)="pay()" class="m-12" color="accent" mat-raised-button>
            Pay Invoice
            <i class="material-icons">monetization_on</i>
        </button>
        <button [mat-dialog-close]="" class="m-12" color="warn" mat-raised-button>
            Dismiss
            <i class="material-icons">close</i>
        </button>
    </div>


</mat-dialog-content>