@import "src/@fuse/scss/fuse";

#patients {
    .center {
        padding: 32px !important;
        margin: 0 auto;

        @include media-breakpoint("lt-lg") {
            padding: 0 !important;
        }

        .content-card {
            position: relative;
            display: flex;
            flex: 1;
            border-radius: 8px;
        }
    }

    .pill {
        background-color: #ddd;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }

    .activepill {
        background-color: #1eb0f3;
    }
}
