<div class="page-layout carded fullwidth tabbed inner-scroll" id="patients">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayout.gt-xs="row"
             fxLayoutAlign="start" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <!--only show the sidebar toggle button when the active page is current patient-->
                <button (click)="toggleSidebar('current-patients-sidebar')" *ngIf="activetabindex === 2"
                        class="sidebar-toggle mr-12" fxHide.gt-sm
                        mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>

                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                              class="logo-icon mr-16">weekend
                    </mat-icon>
                    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">Queue</span>
                </div>

            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div [@animate]="{value:'*', params:{delay:'150ms',scale:'0.2'}}" class="ml-sm-32" fxFlex fxLayout="row"
                 fxLayoutAlign="center center">

                <div [@fadeInOut]="activetabindex !== 2" class="search-wrapper mt-16 mt-sm-0">

                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input placeholder="Search for a patient">
                    </div>

                </div>

            </div>
            <!-- / SEARCH -->
        </div>

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->

            <!--<nav mat-tab-nav-bar>-->
            <!--<a (click)="activeLink = 'main'"-->
            <!--[active]="activeLink === 'main'"-->
            <!--[routerLink]="['main']"-->
            <!--mat-tab-link>-->
            <!--Main Queue-->
            <!--</a>-->
            <!--<a (click)="activeLink = 'mine'"-->
            <!--[active]="activeLink === 'mine'"-->
            <!--[routerLink]="['mine']"-->
            <!--mat-tab-link>-->
            <!--My Queue-->
            <!--</a>-->
            <!--<a (click)="activeLink = 'current'"-->
            <!--[active]="activeLink === 'current'"-->
            <!--[routerLink]="['current']"-->
            <!--mat-tab-link>-->
            <!--Current-->
            <!--</a>-->
            <!--</nav>-->
            <mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="activetabindex"
                           fusePerfectScrollbar>
                <mat-tab>
                    <ng-template matTabLabel>
                        <span [matBadge]="mainQueue" matBadgeColor="warn" matBadgeOverlap="false"
                              matBadgePosition="above after">Main Queue</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <queue-main></queue-main>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab>
                    <ng-template matTabLabel>
                        <span [matBadge]="myQueue" matBadgeColor="warn" matBadgeOverlap="false"
                              matBadgePosition="above after">My Queue</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <queue-mine></queue-mine>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab [disabled]="!!currentpatient">
                    <ng-template matTabLabel>
                        <span [matBadgeHidden]="!!currentpatient" matBadge="..." matBadgeColor="warn"
                              matBadgeOverlap="false" matBadgePosition="above after">Current Patient</span>
                    </ng-template>
                    <ng-template matTabContent>

                        <div class="tab-content p-24">
                            <patient-current></patient-current>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
