@import "src/@fuse/scss/fuse";

all-patients {
    #patients {
        .top-bg {
            @include media-breakpoint("lt-md") {
                height: 256px;
            }
        }

        .center {
            padding: 32px !important;
            margin: 0 auto;

            @include media-breakpoint("lt-lg") {
                padding: 0 !important;
            }

            .content-card {
                position: relative;
                display: flex;
                flex: 1;
                border-radius: 8px;
            }
        }
    }

    .patients-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, 0.12);
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }
}

.searchField {
    width: 60%;
}

.searchField1 {
    width: 20%;
}
.vutadown {
    position: absolute;
    top: 10px;
    right: 35px;
    z-index: 999;
}

.searchBtn {
    width: 20%;
    margin-bottom: 25px;
    margin-top: 5px;
}
