<div>
    <mat-form-field appearance="outline" class="subheading-2 pr-4 pl-4 ">
        <mat-label>Blood Pressure</mat-label>
        <input matInput required>
        <mat-icon class="secondary-text" matSuffix>title</mat-icon>
        <mat-error>Results required!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="subheading-2 pr-4 pl-4  ">
        <mat-label>Haemoglobin</mat-label>
        <input matInput required>
        <mat-icon class="secondary-text" matSuffix>title</mat-icon>
        <mat-error>Results required!</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="subheading-2 pr-4 pl-4  ">
        <mat-label>Heart Rate</mat-label>
        <input matInput required>
        <mat-icon class="secondary-text" matSuffix>title</mat-icon>
        <mat-error>Results required!</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="subheading-2 pr-4 pl-4  ">
        <mat-label>Sugar</mat-label>
        <input matInput required>
        <mat-icon class="secondary-text" matSuffix>title</mat-icon>
        <mat-error>Results required!</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="subheading-2 pr-4 pl-4  ">
        <mat-label>Weight</mat-label>
        <input matInput required>
        <mat-icon class="secondary-text" matSuffix>title</mat-icon>
        <mat-error>Results required!</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="subheading-2 pr-4 pl-4  ">
        <mat-label>Height</mat-label>
        <input matInput required>
        <mat-icon class="secondary-text" matSuffix>title</mat-icon>
        <mat-error>Results required!</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="subheading-2 pr-4 pl-4  ">
        <mat-label>BMI</mat-label>
        <input matInput required>
        <mat-icon class="secondary-text" matSuffix>title</mat-icon>
        <mat-error>Results required!</mat-error>
    </mat-form-field>
</div>