<div class="myDivToPrint" fusePerfectScrollbar>
    <header class="clearfix">
        <div id="logo">
            <img [src]="activehospital.logourl || '../../../../assets/images/logos/fuse.svg'">
        </div>
        <div id="company">
            <h2 class="name">{{activehospital.name}}</h2>
            <div>{{activehospital.contactDetails.address}}</div>
            <div>{{activehospital.contactDetails.phone}}</div>
            <div>{{activehospital.contactDetails.email}}</div>
        </div>
    </header>
    <main>
        <div class="clearfix" id="details">
            <div id="client">
                <div class="to">INVOICE TO:</div>
                <h2 class="name">{{patientdata.patientdata.personalInfo.name}}</h2>
                <div class="address">{{patientdata.patientdata.personalInfo.address}}</div>
                <div class="phone">{{patientdata.patientdata.personalInfo.phone}}</div>
                <div class="email">{{patientdata.patientdata.personalInfo.email}}</div>
            </div>
            <div id="invoice">
                <h1>INVOICE #{{patientdata.queuedata.invoiceId}}</h1>
                <div class="date">Date of Invoice: {{patientdata.queuedata.metadata.date.toDate().toDateString()}}</div>
                <div class="date">Due Date: {{patientdata.queuedata.metadata.date.toDate().toDateString()}}</div>
            </div>
        </div>
        <table border="0" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th class="no">#</th>
                <th class="desc">PROCEDURE(S)</th>
                <th class="unit">UNIT PRICE</th>
                <th class="qty">QUANTITY</th>
                <th class="total">TOTAL</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let procedure of patientdata.queuedata.procedures; let i = index">
                <td class="no">{{i + 1}}</td>
                <td class="desc"><h3>{{procedure.name}}</h3></td>
                <td class="unit">{{procedure.payment.amount}}</td>
                <td class="qty">1</td>
                <td class="total">{{procedure.payment.amount}}</td>
            </tr>
            </tbody>
            <tfoot>

            <tr>
                <td colspan="2"></td>
                <td colspan="2">GRAND TOTAL</td>
                <td>{{ patientdata.queuedata.payment.total | currency:'KES ':'symbol'}}</td>
            </tr>
            </tfoot>
        </table>
        <div id="thanks">Thank you!</div>
        <div id="notices">
            <h3>PAYMENT CHANNELS:</h3>
            <table>
                <tr *ngFor="let paymentchannel of activehospital.paymentMethods">
                    <td class="desc">{{allpaymentchannels | paymentmethod : paymentchannel.paymentChannelId :paymentchannel.paymentMethodId |titlecase}}</td>
                    <td class="desc">{{paymentchannel.accountNumber}}</td>
                    <td class="desc">{{paymentchannel.extraInfo}}</td>
                </tr>
            </table>
        </div>

    </main>
</div>
<br>
<button (click)="showPrint()" color="accent" id="printbtn" mat-raised-button>
    Print Invoice
</button>