@import "src/@fuse/scss/fuse";

#admin {
    .center {
        padding: 32px !important;
        margin: 0 auto;

        @include media-breakpoint("lt-lg") {
            padding: 0 !important;
        }

        .content-card {
            position: relative;
            display: flex;
            flex: 1;
            border-radius: 8px;
        }
    }

    .vutadown {
        position: absolute;
        top: 10px;
        right: 35px;
        z-index: 999;
    }

    .sidebar {
        width: 400px !important;
        min-width: 400px !important;
        max-width: 400px !important;

        &.main-sidebar {
        }
    }
}
