<mat-dialog-content>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <form (ngSubmit)="submitPatientsForm()" *ngIf="!loading" [formGroup]="patientsForm" class=" p-8 m-24" fxFlex="1 0 auto"
          fxLayout="column" fxLayoutAlign="start" name="form">

        <!--<div class="h2 mb-24">New Patient</div>-->

        <span class="pl-24" fxFlex="1 1 100%">Personal information</span>
        <section formGroupName="personalinfo" fxFlex="1 0 auto" fxLayout="column">

            <!--First name, second name-->
            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" class="pr-4" fxFlex="33">
                    <mat-label>First name</mat-label>
                    <input formControlName="firstname" matInput required>
                    <mat-icon class="secondary-text" matSuffix>account_circle</mat-icon>
                    <mat-error>First Name is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="pl-4" fxFlex="33">
                    <mat-label>Last name</mat-label>
                    <input formControlName="lastname" matInput required>
                    <mat-icon class="secondary-text" matSuffix>account_circle</mat-icon>
                    <mat-error>Last Name is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="pl-4" fxFlex="33">
                    <mat-label>Patient file number</mat-label>
                    <input formControlName="fileno" matInput required>
                    <mat-icon class="secondary-text" matSuffix>account_circle</mat-icon>
                    <mat-error>File number is required!</mat-error>
                </mat-form-field>
            </div>


            <!--ID Number, Gender, DateOf birth-->
            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" class="pr-4" fxFlex="33">
                    <mat-label>ID number</mat-label>
                    <input formControlName="idno" matInput required type="number">
                    <mat-icon class="secondary-text" matSuffix>account_circle</mat-icon>
                    <mat-error>ID number is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="pl-4" fxFlex="33">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                        <mat-option [value]="'1'">
                            Male
                        </mat-option>
                        <mat-option [value]="'0'">
                            Female
                        </mat-option>
                    </mat-select>

                    <mat-icon class="secondary-text" matSuffix>account_circle</mat-icon>
                    <mat-error>Gender is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="pl-4" fxFlex="33">
                    <mat-label>Enter date of birth</mat-label>
                    <input #bDate (focus)="myDatepicker.open()" [matDatepicker]="myDatepicker" autocomplete="off"
                           formControlName="birth"
                           matInput placeholder="Please choose a date">

                    <mat-datepicker-toggle [for]="myDatepicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker (closed)="bDate.blur()"></mat-datepicker>

                    <mat-error>Date of birth is required</mat-error>
                    <mat-error>Date of birth should be valid</mat-error>
                </mat-form-field>

            </div>


            <!--Email address-->
            <div fxFlex="1 0 auto" fxLayout="row wrap" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Email Address</mat-label>
                    <input formControlName="email" matInput placeholder="Enter your email">
                    <mat-error>Should be a valid email address!</mat-error>
                </mat-form-field>

            </div>

            <!--Email address-->
            <div fxFlex="1 0 auto" fxLayout="row wrap" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Ocupation</mat-label>
                    <input formControlName="occupation" matInput placeholder="Enter your occupation">
                    <mat-error>Occupation is required!</mat-error>
                </mat-form-field>

            </div>

            <!--How to reach the patient-->
            <!--Place of work, phone, post Address-->
            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="33">
                    <mat-label>Place of work</mat-label>
                    <input formControlName="workplace" matInput required>
                    <mat-icon class="secondary-text" matSuffix>location_city</mat-icon>
                    <mat-error>Place of work is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="px-8" fxFlex="34">
                    <mat-label>Mobile Number</mat-label>
                    <input formControlName="phone" matInput required type="number">
                    <mat-icon class="secondary-text" matSuffix>local_phone</mat-icon>
                    <mat-error>Phone number is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33">
                    <mat-label>Address</mat-label>
                    <input #postalCode formControlName="address" matInput maxlength="100" required>
                    <mat-icon class="secondary-text" matSuffix>markunread_mailbox</mat-icon>
                    <mat-hint align="end">{{postalCode.value.length}} / 100</mat-hint>
                    <mat-error>Postal Code is required!</mat-error>
                </mat-form-field>

            </div>

        </section>

        <span class="pl-24" fxFlex="1 1 100%">Insurance Details</span>
        <!--insurance group-->
        <section *ngFor="let item of patientsForm.get('insurance').controls; let i = index;" formArrayName="insurance" fxFlex="1 0 auto"
                 fxLayout="column">

            <!--Insurance company, Insurance Number-->
            <div [formGroupName]="i" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Insurance Company</mat-label>
                    <mat-select formControlName="id" required>
                        <mat-option *ngFor="let option of allInsurance | keyvalue" [value]="option?.key ">
                            {{option.value.name |titlecase}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="secondary-text" matSuffix>local_hospital</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="pl-4" fxFlex="45">
                    <mat-label>Insurance Number</mat-label>
                    <input formControlName="insurancenumber" matInput required>
                    <mat-icon class="secondary-text" matSuffix>confirmation_number</mat-icon>

                    <mat-error>Insurance number is required</mat-error>

                </mat-form-field>
                <div class="pl-8" fxFlex="5">
                    <button (click)="removeInsurance(i)" color="warn" mat-mini-fab type="button">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </section>
        <div fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start start">
            <button (click)="addInsurance()" color="basic" mat-mini-fab type="button">
                <mat-icon>library_add</mat-icon>
            </button>
            <br>
        </div>

        <span class="pl-24" fxFlex="1 1 100%">Next of kin information</span>

        <!--next of kin group-->
        <section formGroupName="nextofkin" fxFlex="1 0 auto" fxLayout="column">


            <!--Relationship status-->
            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Relationship Status</mat-label>
                    <input formControlName="relationship" matInput required>
                    <mat-icon class="secondary-text" matSuffix>outlined_flag</mat-icon>
                    <mat-error>Relationship is required!</mat-error>
                </mat-form-field>

            </div>

            <!--Next of kin-->
            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Next of kin name</mat-label>
                    <input formControlName="name" matInput required>
                    <mat-icon class="secondary-text" matSuffix>local_hospital</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" class="pl-4" fxFlex="50">
                    <mat-label>Kin Phone</mat-label>
                    <input formControlName="phone" matInput required type="number">
                    <mat-icon class="secondary-text" matSuffix>local_phone</mat-icon>
                </mat-form-field>
            </div>

            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <div fxFlex="1 0 auto" fxLayout="row wrap" fxLayoutAlign="start center">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Kin workplace</mat-label>
                        <input formControlName="workplace" matInput placeholder="Enter kin workplace" required>
                        <mat-error>Workplace is required!</mat-error>
                    </mat-form-field>

                </div>

            </div>

        </section>


        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="center center">
            <button class="py-4" color="accent" fxFlex="50" mat-raised-button>Save Changes</button>
        </div>

    </form>
</mat-dialog-content>