<div class="page-layout simple ">

    <div class="content" fxLayout="column">
        <div fxLayout="row">
            <mat-card fxFlex="50">
                <general-details></general-details>
            </mat-card>
            <mat-card fxFlex="50">
                <patient-history></patient-history>
            </mat-card>

        </div>

        <div fxLayout="row">
            <!-- <patient-notes fxFlex="50"></patient-notes> -->

            <app-perform-procedure fxFlex="100"></app-perform-procedure>
        </div>

    </div>
</div>