.sendbutton {
    bottom: 10px;
}

.expansion-headers-align .mat-expansion-panel-header-title,
.expansion-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.expansion-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}