<div id="history-table">
    <table [dataSource]="flattenedProcedures" mat-table>

        <!-- Position Column -->
        <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell> Date</th>
            <td *matCellDef="let procedure" mat-cell>
                {{procedure.metadata.created}}
            </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="doctor">
            <th *matHeaderCellDef mat-header-cell> Doctor</th>
            <td *matCellDef="let procedure" mat-cell>
                {{hospitaladmins| adminName : procedure.adminid}}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="procedure">
            <th *matHeaderCellDef mat-header-cell> Procedure</th>
            <td *matCellDef="let procedure" mat-cell>
                {{procedure.name}}
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="results">
            <th *matHeaderCellDef mat-header-cell> Results</th>
            <td *matCellDef="let procedure" mat-cell>
                {{procedure.results}}
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
</div>