<div>
    <table style="width:100%">
        <tr>
            <td>Name</td>
            <td>{{currentpatient.personalInfo.name}}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{currentpatient.personalInfo.dob | age}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{currentpatient.personalInfo.gender}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{currentpatient.personalInfo.address}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{currentpatient.personalInfo.phone}}</td>
        </tr>
        <tr>
            <td>occupation</td>
            <td>{{currentpatient.personalInfo.occupation}}</td>
        </tr>

    </table>
</div>