<div>
    <table style="width:100%">
        <tr>
            <td class="mat-title">Name</td>
            <td>{{currentpatient.personalInfo.name}}</td>
        </tr>
        <tr>
            <td class="mat-title">Age</td>
            <td>{{currentpatient.personalInfo.dob | age}}</td>
        </tr>
        <tr>
            <td class="mat-title">Gender</td>
            <td>{{currentpatient.personalInfo.gender}}</td>
        </tr>
        <tr>
            <td class="mat-title">Address</td>
            <td>{{currentpatient.personalInfo.address}}</td>
        </tr>
        <tr>
            <td class="mat-title">Phone</td>
            <td>{{currentpatient.personalInfo.phone}}</td>
        </tr>
        <tr>
            <td class="mat-title">occupation</td>
            <td>{{currentpatient.personalInfo.occupation}}</td>
        </tr>

    </table>
</div>